body{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.outer_container{
    display: grid;
    grid-template-rows: 'auto' 'auto';
    grid-template-areas: 'article' 'comments';
}

.body{
    grid-area: comments;
}

li{ 
    list-style: none;
}

.listed_comment_hide{
    display: none;
}

.article_card{
    grid-area: article;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 1rem;
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    padding: 2rem;
    text-align: left;
    font-size: 1.2rem;
    margin-top: 3rem;
    padding-bottom: 5rem;
}

.comment_card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: rgb(216, 222, 222);
    margin: 1rem;
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    padding: 2rem;
    text-align: left;
    font-size: 1.2rem;
}
      
.author{
    border-bottom: 2px dotted gray;
    text-align: left;
    grid-column: 1/2;;
}

.created_at{
    border-bottom: 2px dotted gray;
    text-align: right;
    grid-column: 2/3;
}
      
.article_card .text {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 1.5rem;
    grid-column:1/3;
}

.comment_card .text {
    padding: 20px;
    font-size: 1.5rem;
    grid-column:1/3;
}

.title{
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-line;
    text-align: center;
}

.topic{
    font-size: 1rem;
}

.comment_card:hover {
    box-shadow: 0 12px 24px 0 rgba(0,0,0,0.2);
}

.article_card:hover {
    box-shadow: 0 12px 24px 0 rgba(0,0,0,0.2);
}

.article{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

.img{
    display: block;
    border-radius: 20px;
    grid-column: 1/3;
    margin-bottom: 1rem;
    max-width: 87%;
    margin-left: 5%;
}

.loading_symbol{
    position: relative;
    left: 45%;
    top: 5rem;
}

.comment_count{
    position: relative;
    display: block;
    border-bottom: 1px dotted black;
    background-color:  rgba(255, 255, 255, 0.8);
    border: none;
    width:30%;
    left: 50%;
    grid-column: 1/2;
}

.comment_count .tooltiptext {
    visibility: hidden;
    width: 5rem;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 0.8rem;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 1.5rem;
    right: 50%;
  }

.comment_count:hover{
    cursor:pointer;
}

.comment_count:hover .tooltiptext{
    visibility: visible;
}

.votes{
    text-align: center;
    grid-column: 2/3;
}

.tooltip{
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    background-color:  rgba(255, 255, 255, 0.8);
    border: none;
    font-size: 1.5rem;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 5rem;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 1rem;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 1rem;
    right: 0;
  }

  .tooltip:hover{
    cursor:pointer;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

.add_comment_link{
    display:block;
    text-align: center;
    background-color:  rgba(255, 255, 255, 0.8);
    border: none;
    font-size: 2rem;
    grid-column: 1/3;
    width:18%;
    height: 60%;
    position:relative;
    left:40%;
    right:50%;
    top:7rem;
}

.add_comment_link .tooltiptext {
    visibility: hidden;
    width: 7rem;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 0.8rem;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 1.5rem;
    right: 50%;
  }

.add_comment_link:hover{
    cursor:pointer;
}

.add_comment_link:hover .tooltiptext{
    visibility: visible;
}